repos:
# export python requirements
- repo: https://github.com/pdm-project/pdm
  rev: 2.5.0b0 # a PDM release exposing the hook
  hooks:
    - id: pdm-export
      # command arguments, e.g.:
      args: ['-o', 'docker-images/requirements.txt', '--without-hashes']
      files: ^pdm.lock$
- repo: https://github.com/pdm-project/pdm
  rev: 2.5.0b0 # a PDM release exposing the hook
  hooks:
    - id: pdm-lock-check
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
- repo: https://github.com/psf/black
  rev: 23.3.0
  hooks:
    - id: black
- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.0.260
  hooks:
    - id: ruff
