repos:
# export the lockfile to requirements.txt
- repo: https://github.com/pdm-project/pdm
  rev: 2.9.3 # a PDM release exposing the hook
  hooks:
    - id: pdm-export
      # command arguments, e.g.:
      args: ['-o', 'docker-images/requirements.txt', '--without-hashes', '--production']
      files: ^pdm.lock$
- repo: https://github.com/pdm-project/pdm
  rev: 2.9.3 # a PDM release exposing the hook
  hooks:
    - id: pdm-lock-check
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.5.0
  hooks:
    - id: check-yaml
    - id: trailing-whitespace
- repo: https://github.com/psf/black
  rev: 23.9.1
  hooks:
    - id: black
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.0.292
  hooks:
    - id: ruff
