---
version: "3.9"
services:
  web:
    image: main/backend
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - '_env/example.env'
    ports:
      - "8000:8000"
    volumes:
      - './data:/data'
